* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: rgb(7, 7, 83);
  justify-content: center;
  align-content: space-between;
  align-items: center;
  gap: 30px;
}

h1 {
  color: white;
}
h2 {
  margin-bottom: 20px;
}
.paragraphs {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 40px;
  gap: 10px;
}
.paragraphs button {
  align-self: flex-start;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(60, 136, 252);
}
.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.middle-section {
  display: flex;
  background-color: rgb(7, 7, 83);
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.building-image {
  margin-bottom: 20px;
}
.information-section {
  display: flex;
  color: black;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 35px;
  flex-direction: column;
  align-items: center;
}
.images-mid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.images-section {
  display: flex;
  gap: 20px;
}
.quote-section {
  background-color: gray;
  color: white;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
}

.signup-section {
  display: flex;
  background-color: rgb(7, 7, 83);
  margin: 60px;
  padding: 20px;
  text-align: center;
  color: white;
  gap: 150px;
  justify-content: center;
  border-radius: 20px;
  font-size: 25px;
}
.last-section {
  background-color: rgb(7, 7, 83);
  color: white;
  padding: 10px;
  text-align: center;
}
.signup-section button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(60, 136, 252);
  font-size: 15px;
}
.images-mid p {
  text-align: center;
}
.quote-name {
  text-align: end;
}
